@font-face {
  font-family: ChinaCat;
  src: url(assets/chinacat.ttf);
}

div {
  margin: 10px 5px;
}

.container {
  font-family: ChinaCat, Roboto, calibri;
  background-color: #333;
  max-width: 500px;
  max-height: 120px;
  display: flex;
  vertical-align: center;
  font-weight: bold;
}

.container p {
  margin: 0 0 5px 0;
}

#text {
  max-width: 300px;
  word-wrap: break-word;
  margin-left: 10px;
  /* font-size: 22px; */
}

.dialogue-style {
  display: inline-block;
  margin-right: 50px;
}

#image {
  background-color: white;
  width: 100px;
  height: 100px;
}

#subject {
  color: yellow;
}

#description {
  color: white;
}

.footer {
  position: absolute;
  bottom: 10px;
}
