@font-face {
  font-family: ChinaCat;
  src: url(assets/fonts/chinacat.ttf);
}

.outer > div,
footer {
  margin: 10px 20px;
}

.input > div {
  margin-bottom: 10px;
}

.output {
  font-family: ChinaCat, Roboto, calibri;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* width: 576px;
  height: 108px; */
  width: 640px;
  height: 120px;
  /* Leo's is 640x120 so this is same aspect ratio of 5.333...*/
  display: flex;
  vertical-align: center;
}
.transparent {
  background-color: transparent;
}
.no-transparent {
  background-color: #36393f;
}
.heart {
  background-image: url(assets/window/textbox_heart.png);
}
.no-heart {
  background-image: url(assets/window/textbox_crop.png);
}

#image {
  margin: 12px;
  vertical-align: center;
}
#text {
  margin: 12px 5px;
  max-width: 500px;
  max-height: 96px;
  line-height: 1.25;
  overflow: hidden;
  word-break: break-all;
  /* text-overflow: ellipsis; */
  /* white-space: word-wrap; */
  /* white-space: nowrap; */
  /* font-size: 22px; */
}
#text p {
  margin: 0;
  white-space: pre-wrap;
}

#subject {
  font-size: 18px;
}

.download {
  min-height: 28vh;
}

.footer {
  position: absolute;
  bottom: 10px;
}
